

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:link, a:visited{
    color:inherit;
    text-decoration: none;
}
li{
    list-style:none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
header{
    position:fixed;
    color:white;
    position:absolute;
    color:black;
    top:0;
    z-index:1;
    width:100%;
    padding:1rem;
}
header .container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}

header nav ul{
    display:flex;
}
header nav ul li{
    padding:10px;
}
header button{
    background:transparent;
    border:0;
    cursor:pointer;
}
header h1 button{
    font-size: 2rem;
    font-weight: bold;
}
header nav ul li button{
    font-size: 1.2rem;
    color:white;
}

main{
    width:100%;
    height:100vh;
    color:white;
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('images/me.jpg') center center;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

main h4{
    font-size:2rem;
}
main h2{
    font-size: 3.5rem;
    margin:2rem 0;
    letter-spacing:3px;
}
main p{
    max-width: 500px;
    margin:0 auto;
    font-size:1.25rem;
}
/*메인 영역 버튼 설정*/

main button.download{
    background-color: transparent;
    border: 3px solid white;
    border-radius:20px;
    padding:1rem 2rem;
    margin-top: 3rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

main button.mouse{
    background-color:transparent;
    border: none;
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    animation:upDown 1s ease-in-out infinite;
    cursor: pointer;
}
@keyframes upDown{ /*애니메이션 upDown 요소*/
    0%{
        bottom: 1rem;
    }
    50%{
        bottom: 1.5rem;
    }
    100%{
        bottom:1rem;
    }
}

/*텍스트 타이핑 효과 구현하기*/
main h2 span::after{
    content:"";
    height: 40px;
    width: 3px;
    background-color: #fff;
    display:inline-block;
    animation: blink .7s ease-in-out infinite;
    letter-spacing: 3px;
    font-family: "Varela Round", sans-serif;
}
/*::after 가상 요소 선택자로 텍스트 마지막에 너비 3px, 높이 40px 크기의 배경색이 투명한 막대를 만들고
    애니메이션을 넣어서 막대 부분이 커서가 깜빡이는 것처럼 보이게!
     구현합니다*/
@keyframes blink{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* about me 영역의 css코드 */
section{
    font-family: "Poppins", sans-serif;
    padding: 5rem 0;

}
section:nth-childe(2n){
    background-color: f8f8f8;
}
section .title{
    margin-bottom: 3rem;
}
section .title h4{
    font-size: 1.35rem;
    color: #ed4848;
    position: relative;
}
section .title h2{
    font-size: 3.5rem;

}
section ,title p{
    font-size: 1.15rem;
}
/* float 속성 해제 */
section .about-self::after{
    content:"";
    clear: both;
    display: block;

}
/* 본문 너비 절반 지정 & 왼쪽 배치 */
section .about-self .left{
    width: 50%;
    float: left;
}
/* 이미지 크기가 부모 영역을 넘지 않도록 부모 영역의 최대 크기로 지정 */
section .about-self .left img{
    max-width: 100%;
}
/* 본문 너비 절반 지정 & 오른쪽 배치 */
section .about-self .right{
    width: 50%;
    float: left;
    padding:0 2rem;
}
/* 레이아웃 분리 완료 */

/* 본문 오른쪽 h3태그의 글자 크기와 여백 지정 */
section .about-self .right h3{
    font-size: 2.25rem;
    margin-bottom: 1rem;
}
/* 본문 오른쪽 p태그의 크기와 여백 지정 */
section .about-self .right p{
    font-size: 1.15rem;
    margin: 1rem 0;
}
/* 본문 오른쪽의 아이콘 폰트 크기와 여백 지정 */
section .about-self .right .social a{
    font-size: 2.5rem;
    margin-right: 0.2rem;
}